        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Create||Inventory Management System</title>
            <link rel="stylesheet" href="style.css">
        </head>
        <body>
            <nav class="navbar">
                <div class="left-navbar">
                    <h1>Shop Inventory Managament System</h1>
                </div>
                <div class="right-navbar">
                </div>
            </nav>
                <div class="main-container">
                  <form action="/create/item" method="post">
                    <input type="text" name="name" id="" placeholder="Enter Item Name">
                    <textarea name="description" id="" cols="30" rows="10" placeholder="Enter Brief Description"></textarea>
                    <input type="text" name="category" id="" placeholder="Enter Category">
                    <textarea name="des" id="" cols="30" rows="10" placeholder="Enter Brief Description about categroy"></textarea>
                    <input type="number" name="price" id="number" placeholder="Enter Price">
                    <input type="number" name="quantity" id="number" placeholder="Enter Quantity">
                 <button class="btns" type="submit">Submit</button>
                  </form>
                </div>
        </body>
        </html>